<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.UI2.WinForms" version="2.0.3.5" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit.Suite.Extended.Common" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit.Suite.Extended.Developer.Utilities" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit.Suite.Extended.Effects" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit.Suite.Extended.Tools" version="70.22.11.312" targetFramework="net48" />
  <package id="WindowsAPICodePackShell" version="1.1.2" targetFramework="net48" />
</packages>